$primary-yellow: #e5b52c;
$primary-green:  #525529;
$brown-dark:     #594331;
$brown-light:    #958067;
$bg-white:       #f5f3ed;
$text-black:     #1b1b12;

$font-main: 'Poppins', sans-serif;

$break-md: 960px;

